<?xml version="1.0"?>
<robot name="four_macnum" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">
  <!-- <xacro:include filename="$(find test_urdf)/description/four_macnum.gazebo.xacro"/> -->
  <!--xacro:include filename="$(find realsense2_description/meshes)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description/meshes)/urdf/_d435.gazebo.xacro" /-->
  <xacro:arg name='laser_visual'  default='false'/>
  <xacro:arg name='camera_visual' default='false'/>
  <xacro:arg name='imu_visual'    default='false'/>
  
  <controller:gazebo_ros_factory name="gazebo_ros_factory_controller" plugin="libgazebo_ros_factory.so">
    <alwaysOn>true</alwaysOn>
    <updateRate>1000.0</updateRate>
  </controller:gazebo_ros_factory>

  <link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <origin xyz="0 0 0.12" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="6.0"/>
      <inertia ixx="2.18e-02" ixy="0.0" ixz="0.0" iyy="4.68e-02" iyz="0.0" izz="6.5e-02" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.2 0.06"/>
      </geometry>
      <material name="">
        <color rgba="0.5 0.5 0.5 0.9"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.2 0.06"/>
      </geometry>
    </collision>
  </link>

  <!--sensor_d435 parent="base_link">
    <origin xyz="0.165 0 0" rpy="0 0 0"/>
  </sensor_d435>
  <sensor_d435_gazebo frame_name='camera_depth_optical_frame'/-->

  <link name="lidar_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5707 0 0"/>
      <geometry>
        <!-- <mesh filename="file://$(find test_urdf)/src/description/meshes/"></mesh> -->
        <mesh filename="file://$(find test_urdf)/src/description/meshes/lidara2f.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5707 0 0"/>
      <geometry>
        <mesh filename="file://$(find test_urdf)/src/description/meshes/lidara2f.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.11 0 0.065" rpy="0 0 3.1416"/>
    <parent link="base_link"/>
    <child link="lidar_link"/>
  </joint>

  <link name='imu_link'/>
  <joint name='imu_joint' type='fixed'>
    <parent link='base_link'/>
    <child link='imu_link'/>
  </joint>

  <link name="shell_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find test_urdf)/src/description/meshes/shell.dae"/>
      </geometry>
      <material name="">
        <color rgba="0.675 0.282 0.921 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find test_urdf)/src/description/meshes/shell.dae"/>
      </geometry>
    </collision>
  </link>

  <joint name="shell_joint" type="fixed">
    <origin xyz="-0.13 0 -0.03" rpy="0 0 -1.5707"/>
    <parent link="base_link"/>
    <child link="shell_link"/>
  </joint>


  <link name="wheel1_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel1_joint" type="fixed">
    <origin xyz="0.1205 0.1425 -0.07" rpy="1.5707 0 0"/>
    <parent link="base_link"/>
    <child link="wheel1_link"/>
  </joint>

  <link name="wheel2_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel2_joint" type="fixed">
    <origin xyz="0.1205 -0.1425 -0.07" rpy="1.5707 0 0"/>
    <parent link="base_link"/>
    <child link="wheel2_link"/>
  </joint>

  <link name="wheel3_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel3_joint" type="fixed">
    <origin xyz="-0.1205 0.1425 -0.07" rpy="1.5707 0 0"/>
    <parent link="base_link"/>
    <child link="wheel3_link"/>
  </joint>

  <link name="wheel4_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.00001"/>
      <inertia ixx="10" ixy="0.0" ixz="0.0" iyy="10" iyz="0.0" izz="10"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.05" radius="0.05"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel4_joint" type="fixed">
    <origin xyz="-0.1205 -0.1425 -0.07" rpy="1.5707 0 0"/>
    <parent link="base_link"/>
    <child link="wheel4_link"/>
  </joint>

  <!-- 包含传感器 -->
  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
     <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <ros>
          <namespace>/demo</namespace>
          <remapping>~/out:=imu</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <gazebo reference="lidar_link">
    <sensor name="lidar" type="ray">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.000000</resolution>
            <min_angle>0.000000</min_angle>
            <max_angle>6.280000</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120000</min>
          <max>3.5</max>
          <resolution>0.015000</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="scan" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <remapping>~/out:=scan</remapping>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>lidar_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="planar_controller" filename="libgazebo_ros_planar_move.so">
      <enable_y_axis>true</enable_y_axis>
      <!-- <ros> -->
        <!-- <namespace>my_robot_namespace</namespace> -->
        <!-- <remapping>cmd_vel:=custom_cmd_vel</remapping> -->
        <!-- <remapping>odom:=custom_odom</remapping> -->
      <!-- </ros> -->
      <odometry_frame>odom</odometry_frame>
      <publish_rate>30.0</publish_rate>
      <robot_base_frame>base_footprint</robot_base_frame>
    </plugin>
  </gazebo>

</robot>
